<mat-card class="list-attribute">
  <mat-card-header>
    <mat-card-title>
      <h3>Lista de Atributos</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="table-actions">
      <button mat-raised-button color="primary" (click)="setUpdate()" [disabled]="selection.selected.length>1">
        {{ update? 'Seleccionar': 'Cancelar' }}
      </button>
      <button mat-raised-button color="warn" (click)="Delete()" [disabled]="!update || selection.selected.length<1">
        Eliminar
      </button>
    </div>
    <div class="">
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()" [disabled]="!update">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [disabled]="!update">
            </mat-checkbox>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="attribute">
  <mat-card-header>
    <mat-card-title>
      <h3>Atributos</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="add-attribute-container">
    <div class="add-attribute" [formGroup]="attributeForm">
      <mat-form-field class="add-attribute-input">
        <input matInput placeholder="Nombre de atributo" formControlName="name">
        <mat-error *ngIf="attributeForm.get('name').getError('required')">Campo requerido</mat-error>
        <mat-error *ngIf="attributeForm.get('name').getError('unique')">
          {{ attributeForm.get('name').getError('unique')['text'] }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Tipo de atributos" formControlName="type">
          <mat-option *ngFor="let type of types" [value]="type.value">
            {{ type.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="attributeForm.get('type').getError('required')">Campo requerido</mat-error>
      </mat-form-field>
    </div>
    <div class="add-attribute-action">
      <div class="add-attribute-action__button">
        <button *ngIf="!update" mat-raised-button color="warn"
                [disabled]="attributeForm.status === 'INVALID'" (click)="Update()">Actualizar</button>
        <button *ngIf="update" mat-raised-button color="warn"
                [disabled]="attributeForm.status === 'INVALID'" (click)="Make()">Crear</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
