:host{
  display: flex;
  flex-direction: row;
}

.list-attribute{
  margin-right: 4px;
  width: calc(100% - 8px);
}

.attribute{
  margin-left: 4px;
  width: calc(100% - 8px);
  height: 230px;
}


.add-attribute {
  margin-right: 4px;
  width: calc(50% - 8px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-attribute-action {
  margin-left: 4px;
  width: calc(50% - 8px);
  padding-left: 10px;
}

.add-attribute-container{
  display: flex;
  flex-direction: row;
  height: calc(100% - 51px);
}

.table-actions {
  width: 218px;
  display: flex;
  justify-content: space-between;
  padding-left: 7px;
}

.add-attribute-input{
  width: 100%;
}
