<form [formGroup]="productForm">
	<div class="product">
      <mat-card class="product-description">
				<div class="product-description__name">
						<mat-form-field class="product-name">
              <input matInput placeholder="Nombre del producto" value="" formControlName="name">
						</mat-form-field>
				</div>
				<div class="product-description__description" formGroupName="product_details">
						<div class="product-description__description-column">
							<div class="product-description__description-column__text">
                <div>Descripción del producto</div>
              </div>
							<textarea formControlName="description"></textarea>
						</div>
						<div class="product-description__description-column">
              <div class="product-description__description-column__rich_snippet">
                <div class="product-description__description-column__text">
                  <div>Descripción - Fragmentos enrquecidos</div>
                </div>
                <textarea formControlName="rich_snippet_description"></textarea>
              </div>
              <div class="product-description__description-column__keyword">
                <mat-form-field class="product-name">
                  <input matInput placeholder="Keywords" value="" formControlName="keywords">
                </mat-form-field>
                <mat-form-field class="product-name">
                  <input matInput placeholder="Puntuación promedio" value="" formControlName="average_rate" type="number">
                </mat-form-field>
              </div>
						</div>
				</div>
			</mat-card>
      <mat-card class="product-detail">
      <div class="product-image">
        <div class="product-image__title">Imágenes del producto</div>
        <div class="product-image__images">
          <img #img_canvas class="hidden"/>
          <div class="product-image__image" (click)="image_1.click()" [ngStyle]="{ 'background-image': 'url('+renderImage(1) +')'}">
            <input type='file' id="image_1" hidden #image_1 (change)="onFileChange($event, '1')"/>
          </div>
          <div class="product-image__image" (click)="image_2.click()" [ngStyle]="{ 'background-image': 'url('+renderImage(2) +')'}">
            <input type='file' id="image_2" hidden #image_2 (change)="onFileChange($event, '2')"/>
          </div>
          <div class="product-image__image" (click)="image_3.click()" [ngStyle]="{ 'background-image': 'url('+renderImage(3) +')'}">
            <input type='file' id="image_3" hidden #image_3 (change)="onFileChange($event, '3')"/>
          </div>
          <div class="product-image__image" (click)="image_4.click()" [ngStyle]="{ 'background-image': 'url('+renderImage(4) +')'}">
            <input type='file' id="image_4" hidden #image_4 (change)="onFileChange($event, '4')"/>
          </div>
        </div>
      </div>
      <div class="product-information">
        <div class="product-information__title">Información del producto</div>
        <div class="product-information__form-container">
          <div class="product-information__form">
            <mat-form-field>
              <input matInput placeholder="SKU" formControlName="sku">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Precio" formControlName="price" type="number">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Precio en dólares" formControlName="dolar_price" type="number">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Stock" formControlName="stock" type="number">
            </mat-form-field>
          </div>
          <div class="product-information__form_help">
            <section class="product-information__form_help__switch">
              <mat-slide-toggle
                [checked]="product.in_stock"
                [disabled]="disabled"
                (change)="change_in_Stock($event)">
                ¿Stock?
              </mat-slide-toggle>
            </section>
          </div>
        </div>
      </div>
    </mat-card>
	</div>
  <mat-card class="product-cat-tag">
    <div class="product-cat-tag__container">
      <div class="product-cat-tag__title">Categorias</div>
      <div class="product-cat-tag__list">
        <mat-selection-list #categories_select_list>
          <mat-list-option *ngFor="let cat of categories" [value]="cat.id" [selected]="filterSelectedCategories(cat.id)">
            {{cat.name}}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
    <div class="product-cat-tag__container">
      <div class="product-cat-tag__title">Tags</div>
      <div class="product-cat-tag__list">
        <mat-selection-list #tags_select_list>
          <mat-list-option *ngFor="let tag of tags" [value]="tag.id" [selected]="filterSelectedTags(tag.id)">
            {{tag.name}}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
  </mat-card>
</form>
<button mat-fab color="primary" class="update-button" (click)="Make()">
		<mat-icon aria-label="icon-button">check</mat-icon>
</button>
