:host{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

form{
  height: 100%;
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.product{
    display: flex;
    flex-direction: column;
    width: calc(100% - 400px);
    margin-bottom: 16px;
}

.product-cat-tag, .product-description{
    width: 100%;
}

.product-description{
    margin-right: 16px;
}

.product-name{
    width: 100%;
}

.product-detail{
    width: 100%;
    margin-top: 40px;
    height: 427px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.product-description__description{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-information__form {
    display: flex;
    flex-direction: column;
    width: calc(100% - 160px);
    padding: 15px;
}

.product-information__form_help {
    display: flex;
    flex-direction: column;
    width: 160px;
    padding: 15px;
}

.product-information__form-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.product-description__description-column{
    width: 49%;
}

.product-description__description-column__text{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.update-button{
    position: fixed;
    right: 20px;
    bottom: 44px;
}

.product-cat-tag{
    display: flex;
    justify-content: space-around;
    width: 354px;
    flex-direction: column;
    height: 460px;
}

.product-cat-tag__title {
  font-weight: 700;
}

.product-cat-tag__list {
    height: 200px;
    overflow-y: scroll;
}

.product-image, .product-information{
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

mat-grid-tile {
    background: lightblue;
}

.product-image{
    height: 350px;
    width: 300px;
}

.product-image__title{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}

.product-image__images{
    height: 300px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.product-image__image {
    border: 1px dashed black;
    width: calc(50% - 8px);
    height: calc(50% - 8px);
    margin: 2px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.product-information{
    width: calc(100% - 316px);
}

.mat-slide-toggle{
    margin: 10px;
}

.hidden{
  display: none;
}

.product-description__description-column__rich_snippet textarea {
  height: 140px;
}
