<mat-card class="list-discount">
  <mat-card-header>
    <mat-card-title>
      <h3>Lista de Tiendas</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="table-actions">
      <button mat-raised-button color="primary" (click)="setUpdate()" [disabled]="selection.selected.length>1">
        {{ update? 'Seleccionar': 'Cancelar' }}
      </button>
      <button mat-raised-button color="warn" (click)="Delete()" [disabled]="!update || selection.selected.length<1">
        Eliminar
      </button>
    </div>
    <div class="">
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()" [disabled]="!update">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [disabled]="!update">
            </mat-checkbox>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.description}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="discount">
  <mat-card-header>
    <mat-card-title>
      <h3>Descuentos</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="add-discount-container">
    <div class="add-discount" [formGroup]="discountForm">
      <mat-form-field>
        <input matInput placeholder="Descripción para el descuento" formControlName="description">
        <mat-error *ngIf="discountForm.get('description').getError('required')">Campo requerido</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="start_picker" placeholder="Fecha inicio"
               (dateChange)="addCustomDate('date_begin', $event)" [(ngModel)]="start_picker_ng"
               [ngModelOptions]="{standalone: true}">
        <mat-datepicker-toggle matSuffix [for]="start_picker"></mat-datepicker-toggle>
        <mat-datepicker #start_picker></mat-datepicker>
        <mat-error *ngIf="discountForm.get('description').getError('date_begin')">Campo requerido</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="end_picker" placeholder="Fecha fin"
               (dateChange)="addCustomDate('date_end', $event)" [(ngModel)]="end_picker_ng"
               [ngModelOptions]="{standalone: true}" [min]="start_picker_ng">
        <mat-datepicker-toggle matSuffix [for]="end_picker"></mat-datepicker-toggle>
        <mat-datepicker #end_picker></mat-datepicker>
        <mat-error *ngIf="discountForm.get('description').getError('date_end')">Campo requerido</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Porcentaje" type="number" formControlName="percentage">
        <mat-error *ngIf="discountForm.get('description').getError('percentage')">Campo requerido</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Producto" formControlName="product">
          <mat-option [value]="null"></mat-option>
          <mat-option *ngFor="let pr of products" [value]="pr.id">
            {{ pr.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Grupo" formControlName="group">
          <mat-option *ngFor="let gr of groups" [value]="gr.id">
            {{ gr.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="add-discount-action__button">
        <button *ngIf="!update" mat-raised-button color="warn"
                [disabled]="discountForm.status === 'INVALID'" (click)="Update()">Actualizar</button>
        <button *ngIf="update" mat-raised-button color="warn"
                [disabled]="discountForm.status === 'INVALID'" (click)="Make()">Crear</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
