:host{
  display: flex;
  flex-direction: row;
}

.list-discount{
  margin-right: 4px;
  width: calc(100% - 8px);
}

.discount{
  margin-left: 4px;
  width: calc(100% - 8px);
  height: 487px;
}


.add-discount {
  margin-right: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.add-discount-container{
  display: flex;
  flex-direction: row;
}

.table-actions {
  width: 218px;
  display: flex;
  justify-content: space-between;
  padding-left: 7px;
}

.add-discount-collection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-discount-collection mat-form-field {
  width: 48%;
}
