:host{
  display: flex;
  flex-direction: row;
}

.list-store{
  margin-right: 4px;
  width: calc(100% - 8px);
}

.store{
  margin-left: 4px;
  width: calc(100% - 8px);
  height: 450px;
}


.add-store {
  margin-right: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.add-store-container{
  display: flex;
  flex-direction: row;
}

.table-actions {
  width: 218px;
  display: flex;
  justify-content: space-between;
  padding-left: 7px;
}

.add-store-collection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-store-collection mat-form-field {
  width: 48%;
}
