<mat-card class="list-store">
  <mat-card-header>
    <mat-card-title>
      <h3>Lista de Tiendas</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="table-actions">
      <button mat-raised-button color="primary" (click)="setUpdate()" [disabled]="selection.selected.length>1">
        {{ update? 'Seleccionar': 'Cancelar' }}
      </button>
      <button mat-raised-button color="warn" (click)="Delete()" [disabled]="!update || selection.selected.length<1">
        Eliminar
      </button>
    </div>
    <div class="">
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()" [disabled]="!update">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [disabled]="!update">
            </mat-checkbox>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="store">
  <mat-card-header>
    <mat-card-title>
      <h3>Tienda</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="add-store-container">
    <div class="add-store" [formGroup]="storeForm">
      <mat-form-field>
        <input matInput placeholder="Nombre de la tienda" formControlName="name">
        <mat-error *ngIf="storeForm.get('name').getError('required')">Campo requerido</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Dirección" formControlName="address">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Referencia" formControlName="reference">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Tiempos" formControlName="schedule">
      </mat-form-field>
      <div class="add-store-collection" formGroupName="location">
        <mat-form-field>
          <input matInput placeholder="Latitud" formControlName="lat" type="number">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Longitud" formControlName="lng" type="number">
        </mat-form-field>
      </div>
      <div class="add-store-action__button">
        <button *ngIf="!update" mat-raised-button color="warn"
                [disabled]="storeForm.status === 'INVALID'" (click)="Update()">Actualizar</button>
        <button *ngIf="update" mat-raised-button color="warn"
                [disabled]="storeForm.status === 'INVALID'" (click)="Make()">Crear</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
