<mat-card class="value">
  <mat-card-header>
    <mat-card-title>
      <h3>Valor de Atributos</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="add-value-container">
    <form [formGroup]="attributeProductForm">
      <div class="add-value">
        <mat-form-field>
          <mat-select placeholder="Atributos" formControlName="attribute">
            <mat-option *ngFor="let attr of attribute" [value]="attr.id">
              {{ attr.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="attributeProductForm.get('attribute').getError('required')">Campo requerido</mat-error>
          <mat-error *ngIf="attributeProductForm.get('attribute').getError('unique')">
            La combinación de los campos Atributos y Productos, deben ser un conjunto único
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Productos" formControlName="product">
            <mat-option *ngFor="let pr of smallProduct" [value]="pr.id">
              {{ pr.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="attributeProductForm.get('product').getError('required')">Campo requerido</mat-error>
        </mat-form-field>
        <div class="add-value-action__button">
          <button *ngIf="!update" mat-raised-button color="warn"
                  [disabled]="attributeProductForm.status === 'INVALID'" (click)="Update()">Actualizar</button>
          <button *ngIf="update" mat-raised-button color="warn"
                  [disabled]="attributeProductForm.status === 'INVALID'" (click)="Make()">Asignar</button>
        </div>
      </div>
    </form>
    <div class="add-product-attribute-value" [formGroup]="attributeValueForm" *ngIf="!update">
      <mat-accordion formArrayName="values">
        <mat-expansion-panel *ngFor="let atrv of filterAttributeValue(); let i = index" hideToggle="true" [formGroupName]="i">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Valores
            </mat-panel-title>
            <mat-panel-description>
              <button mat-raised-button color="warn" (click)="removeAttributeValueForm(i)">Eliminar</button>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="panel-expansion-body">
            <mat-form-field>
              <input matInput placeholder="Valor" formControlName="value">
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="add-product-attribute-value-action">
        <button mat-raised-button color="accent" (click)="addAttributeValue()">Agregar</button>
        <button mat-raised-button color="accent" (click)="assignValues()">Asignar valores</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="list-value">
  <mat-card-header>
    <mat-card-title>
      <h3>Lista de Atributos</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="table-actions">
      <button mat-raised-button color="primary" (click)="setUpdate()" [disabled]="selection.selected.length>1">
        {{ update? 'Seleccionar': 'Cancelar' }}
      </button>
      <button mat-raised-button color="warn" (click)="Delete()" [disabled]="!update || selection.selected.length<1">
        Eliminar
      </button>
    </div>
    <div class="">
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()" [disabled]="!update">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [disabled]="!update">
            </mat-checkbox>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="product_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Producto </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.product_name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="attribute_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Atributo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.attribute_name}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>
