:host{
  display: flex;
  flex-direction: column;
}

.list-value{
  width: 100%
}

.value{
  width: 100%;
}


.add-value {
  margin-right: 4px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.add-value-action {
  margin-left: 4px;
  width: calc(50% - 8px);
  padding-left: 10px;
}

.add-value-container{
  display: flex;
  flex-direction: column;
  height: calc(100% - 51px);
}

.table-actions {
  width: 218px;
  display: flex;
  justify-content: space-between;
  padding-left: 7px;
}

.add-value-input{
  width: 100%;
}

mat-form-field, .add-value-action__button{
  flex: 0.3;
}

.add-product-attribute-value {
  margin-top: 30px;
  width: 413px;
}

.add-product-attribute-value-action {
  margin-top: 30px;
}

mat-panel-description, mat-panel-title {
  justify-content: flex-end;
  align-items: center;
  flex-basis: 0;
}

.panel-expansion-body {
  display: flex;
  justify-content: space-between;
}
