:host{
    display: flex;
    flex-direction: row;
}

.list-category{
    margin-right: 4px;
    width: calc(100% - 8px);
}

.category{
    margin-left: 4px;
    width: calc(100% - 8px);
    height: 500px;
}


.add-category {
    margin-right: 4px;
    width: calc(50% - 8px);
}

.add-category-action {
    margin-left: 4px;
    width: calc(50% - 8px);
    padding-left: 10px;
}

.add-category-action__text {
    line-height: 24px;
    font-size: 17px;
}

.add-category-container{
    display: flex;
    flex-direction: row;
}

.table-actions {
  width: 218px;
  display: flex;
  justify-content: space-between;
  padding-left: 7px;
}
