<mat-card class="list-category">
  <mat-card-header>
    <mat-card-title>
      <h3>Lista de Categorias</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="table-actions">
      <button mat-raised-button color="primary" (click)="setUpdate()" [disabled]="selection.selected.length>1">
        {{ update? 'Seleccionar': 'Cancelar' }}
      </button>
      <button mat-raised-button color="warn" (click)="Delete()" [disabled]="!update || selection.selected.length<1">
        Eliminar
      </button>
    </div>
    <div class="">
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [disabled]="!update">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [disabled]="!update">
            </mat-checkbox>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>


<mat-card class="category">
  <mat-card-header>
    <mat-card-title>
      <h3>Categoría</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="add-category-container">
    <div class="add-category" [formGroup]="categoryForm">
      <mat-form-field>
        <input matInput placeholder="Nombre de la categoría" formControlName="name">
        <mat-error *ngIf="categoryForm.get('name').getError('required')">Campo requerido</mat-error>
        <mat-error *ngIf="categoryForm.get('name').getError('unique')">
          {{ categoryForm.get('name').getError('unique')['text'] }}
        </mat-error>
      </mat-form-field>
      <div class="add-category__description">
        <div>Descripción de la categoría</div>
        <textarea formControlName="description"></textarea>
      </div>
    </div>
    <div class="add-category-action">
      <div class="add-category-action__text">
        Las categorías te permiten agrupar productos para así, poder ordenarlos y filtrarlos en tu catálogo de productos.
        <br>
        <br>
        Ejemplo:
        <br>
        Colección Verano: Falda Rosa, Blusa Verde, etc.
      </div>
      <div class="add-category-action__button">
        <button *ngIf="!update" mat-raised-button color="warn"
                [disabled]="categoryForm.status === 'INVALID'" (click)="Update()">Actualizar</button>
        <button *ngIf="update" mat-raised-button color="warn"
                [disabled]="categoryForm.status === 'INVALID'" (click)="Make()">Crear</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
