:host{
  width: 100%;
}

.html-editor{
  height: 600px;
  width: 100%;
}

.blog-form{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.blog-entry-image{
  height: 400px;
  width: 90%;
  border: 1px solid #bcc4d1;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.blog-form-input {
  width: calc(100% - 350px);
  height: 800px;
}

.blog-form-input-image {
  width: 300px;
  height: 506px;
}

.blog-form-input-image .mat-card-content {
  display: flex;
  justify-content: center;
}

.update-button{
  position: fixed;
  right: 20px;
  bottom: 44px;
}
