<div [formGroup]="BlogForm" class="blog-form">
  <mat-card class="blog-form-input">
    <mat-card-header>
      <mat-card-title>
        <h3>Blog</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="">
      <mat-form-field>
        <input matInput placeholder="Título del blog" formControlName="title">
        <mat-error *ngIf="BlogForm.get('title').getError('required')">Campo requerido</mat-error>
      </mat-form-field>
      <div class="html-editor">
        <div #htmlEditor>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="blog-form-input-image">
    <mat-card-header>
      <mat-card-title>
        <h3>Imagen</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="">
      <div class="blog-entry-image" (click)="image.click()" [ngStyle]="{ 'background-image': 'url('+renderImage() +')'}">
        <input type='file' id="image" hidden #image (change)="onFileChange($event)"/>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<button mat-fab color="primary" class="update-button" (click)="Make()">
  <mat-icon aria-label="icon-button">check</mat-icon>
</button>
