<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ menuoption.title }}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a *ngFor="let sub_options of menuoption.sub_options"
          [ngClass]="{'selected': sub_options.id==selected}"
          [routerLink]="sub_options.link"
          (click)="select(sub_options.id)"
          mat-list-item class="link">{{ sub_options.name }}</a>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>
