:host{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 367px;
  height: 396px;
}

form {
  height: calc(100% - 70px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.action {
  height: 20%;
}

.contols {
  height: 80%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  padding: 30px;
}

.title {
  height: 70px;
  text-align: center;
  font-size: 30px;
}
