<mat-card>
  <div class="title">
    CMS
  </div>
  <form [formGroup]="loginForm">
    <div class="contols">
      <mat-form-field class="">
        <input matInput placeholder="Email" formControlName="user">
        <mat-error *ngIf="loginForm.get('user').hasError('invalidEmail') && !loginForm.get('user').hasError('required')">
          Por favor ingrese un correo electrónico válido
        </mat-error>
        <mat-error *ngIf="loginForm.get('user').hasError('required')">
          Correo electrónico es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="">
        <input matInput placeholder="Contraseña" formControlName="password" type="password">
        <mat-error *ngIf="loginForm.get('password').hasError('required')">
          Password es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="!invalidCredentials">
        Usuario o Contraseña incorrectos
      </mat-error>
    </div>
    <div class="action">
      <button mat-raised-button color="primary" (click)="Login()">ACCEDER</button>
    </div>
  </form>
</mat-card>
