:host{
  display: flex;
  flex-direction: row;
}

:host(.mobile){
  display: flex;
  flex-direction: column;
}

.graphic-card, .form-report{
  width: calc(50% - 20px);
  margin: 0px 5px;
}

.graphic-card-mobile, .form-report-mobile{
  width: calc(100% - 20px);
  margin: 10px 5px;
}

li{
  list-style: none;
  font-size: 16px;
  margin-top: 7px;
}

ul{
  padding: 0px;
}

.card-form-content{
  padding-left: 14px;
}

.list-categories{
  margin-top: 30px;
}