<mat-card class="graphic-card" [class.graphic-card-mobile]="mobileQuery.matches">
    <mat-card-header>
      <mat-card-title>Cantidad de Productos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div #chart class='linear-graphic'></div>
    </mat-card-content>
</mat-card>

<mat-card class="form-report" [class.form-report-mobile]="mobileQuery.matches">
  <mat-card-header>
    <div class="header-text">Generar reporte</div>
  </mat-card-header>
  <mat-card-content class="card-form-content">
      <form [formGroup]="rangeform"
        (ngSubmit)="onSubmit(rangeform.value)"
        [class.error]="!rangeform.valid && rangeform.touched">

        <div class="form-inputs">
          <mat-form-field>
            <input matInput [matDatepicker]="date_start" placeholder="Fecha inicio"
                  [formControl]="rangeform.controls['date_start']" id="dateStart">
            <mat-datepicker-toggle matSuffix [for]="date_start"></mat-datepicker-toggle>
            <mat-datepicker #date_start ></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <input matInput [matDatepicker]="date_end" placeholder="Fecha fin"
                  [formControl]="rangeform.controls['date_end']" id="dateStart">
            <mat-datepicker-toggle matSuffix [for]="date_end"></mat-datepicker-toggle>
            <mat-datepicker #date_end ></mat-datepicker>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary">Generar</button>
      </form>
      <div class="list-categories">
        <ul>
          <li *ngFor="let category of categories">
            # {{category}}
          </li>
        </ul>
      </div>
  </mat-card-content>
</mat-card>
