.list-products{
  padding: 15px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.mat-column-select {
  overflow: initial;
}

.list-products-actions {
  width: 200px;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

.product-name{
  font-weight: bold;
  cursor: pointer;
  color: rgba(0, 0, 230, 1);
}

.product-name a{
  text-decoration: none;
}