<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h3>Lista de productos</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="list-products">
      <div class="list-products-filter">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
        </mat-form-field>
      </div>
      <div class="list-products-actions">
        <button class="list-products-actions_crud" mat-raised-button (click)="Make()" >Crear</button>
        <button class="list-products-actions_crud" mat-raised-button (click)="Delete()">Eliminar</button>
      </div>
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let element" class="product-name">
            <a [routerLink]="['/admin/product/', element.id]">{{element.name}}</a>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="category" *ngIf="!mobileQuery.matches">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Categoría </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ JoinMaps(element.category) }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="tag">
          <mat-header-cell *matHeaderCellDef mat-sort-header> tag </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ JoinMaps(element.tag) }} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
