@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
}

*{
  box-sizing: border-box;
}

textarea {
  resize: none;
  outline: none;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  height: 300px;
  font-family: inherit;
}