.appshell{
  height: 100%;
}

mat-sidenav-container{
  margin-top: 0px;
  height: calc(100% - 64px);
}

mat-sidenav-content{
  padding: 50px;
}

.mat-progress-bar{
  position: fixed;
  top: 64px;
  z-index: 4;
}
