<div class="appshell" [class.appshell-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="appshell-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">CMS Administrador web</h1>
  </mat-toolbar>
  <mat-progress-bar mode="indeterminate" *ngIf="progress_bar_state"></mat-progress-bar>
  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list class="nav-list">
        <app-menu-option *ngFor="let m_option of menuoption; let i = index"
                         [menuoption]="m_option" [id]="i" [selected]="selected"
                         (notify)="changeSelected($event)">
        </app-menu-option>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content-app">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
