:host{
  display: flex;
  flex-direction: row;
}

.list-tag{
  margin-right: 4px;
  width: calc(100% - 8px);
}

.tag{
  margin-left: 4px;
  width: calc(100% - 8px);
  height: 194px;
}


.add-tag {
  margin-right: 4px;
  width: calc(50% - 8px);
}

.add-tag-action {
  margin-left: 4px;
  width: calc(50% - 8px);
  padding-left: 10px;
}

.add-tag-container{
  display: flex;
  flex-direction: row;
}

.table-actions {
  width: 218px;
  display: flex;
  justify-content: space-between;
  padding-left: 7px;
}
