<mat-card class="list-group">
  <mat-card-header>
    <mat-card-title>
      <h3>Lista de Categorias</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="table-actions">
      <button mat-raised-button color="primary" (click)="setUpdate()" [disabled]="selection.selected.length>1">
        {{ update? 'Seleccionar': 'Cancelar' }}
      </button>
      <button mat-raised-button color="warn" (click)="Delete()" [disabled]="!update || selection.selected.length<1">
        Eliminar
      </button>
    </div>
    <div class="">
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()" [disabled]="!update">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [disabled]="!update">
            </mat-checkbox>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>


<mat-card class="group">
  <mat-card-header>
    <mat-card-title>
      <h3>Categoría</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="add-group-container">
    <div class="add-group" [formGroup]="groupForm">
      <mat-form-field>
        <input matInput placeholder="Nombre de la categoría" formControlName="name">
        <mat-error *ngIf="groupForm.get('name').getError('required')">Campo requerido</mat-error>
        <mat-error *ngIf="groupForm.get('name').getError('unique')">
          {{ groupForm.get('name').getError('unique')['text'] }}
        </mat-error>
      </mat-form-field>
      <div class="add-group__description">
        <div>Descripción de la categoría</div>
        <textarea formControlName="description_group"></textarea>
      </div>
      <mat-form-field>
        <mat-select placeholder="Productos" multiple #products_select_list >
          <mat-option *ngFor="let smp of smallProduct" [value]="smp.id">{{smp.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="add-group-action__button">
        <button *ngIf="!update" mat-raised-button color="warn"
                [disabled]="groupForm.status === 'INVALID'" (click)="Update()">Actualizar</button>
        <button *ngIf="update" mat-raised-button color="warn"
                [disabled]="groupForm.status === 'INVALID'" (click)="Make()">Crear</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
