:host{
  display: flex;
  flex-direction: row;
}

.list-group{
  margin-right: 4px;
  width: calc(100% - 8px);
}

.group{
  margin-left: 4px;
  width: calc(100% - 8px);
  height: 500px;
}


.add-group {
  margin-right: 4px;
  width: 100%;
}

.add-group-container{
  display: flex;
  flex-direction: row;
}

.table-actions {
  width: 218px;
  display: flex;
  justify-content: space-between;
  padding-left: 7px;
}

textarea {
  height: 90px;
}
